<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

        <!--在该配置文件中配置了数据库的链接方式，以及注册所有的映射文件，还可以设置mybatis的一些参数-->

<configuration>
<!--在配置mybatis。xml的是否需要注意节点的顺序，否则会报错-->
    <!--<properties resource="mybatis-config.xml"></properties>-->

    <!--配置别名-->
    <typeAliases>
        <typeAlias type="com.guliang.pojo.User" alias="User"></typeAlias>
    </typeAliases>

    <!--1，注册加载一个driver驱动-->
    <!--2，创建数据库连接（Connection）-->
    <!--3，创建一个Statement（发送sql）-->
    <!--4，执行sql语句-->
    <!--5，处理sql结果（select语句）-->
    <!--6，关闭Statement-->
    <!--7，关闭连接Connection。-->


    <!--配置数据库的连接-->
    <!--由于没有引入spring，因此数据库连接的工作就交到了mybatis中进行了-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis-test"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/guliang/dao/User.xml"></mapper>
    </mappers>
</configuration>